<div class="container">
    <div class="py-5 text-center">
        <h2>Clients</h2>
    </div>

    <div class="row">
        <a routerLink="add" class="btn btn-primary">Add client</a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Username</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let customer of customers$ | async">
                <th scope="row">{{ customer.id }}</th>
                <td>{{ customer.firstName }}</td>
                <td>{{ customer.lastName }}</td>
                <td>{{ customer.username }}</td>
                <td>
                    <a [routerLink]="'/customers/' + customer.id + '/edit'" class="btn btn-primary">Edit client</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
