<div class="container">
    <div class="py-5 text-center">
        <h2>Add Client</h2>
    </div>

    <div class="row">
        <div class="col-md-12 order-md-1">
            <form *ngIf="customerForm" [formGroup]="customerForm" (ngSubmit)="addCustomer()" class="needs-validation">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name*</label>
                        <input type="text" class="form-control" id="firstName" formControlName="firstName">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name*</label>
                        <input type="text" class="form-control" id="lastName" formControlName="lastName">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="username">Username*</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="username" placeholder="Username"
                               formControlName="username">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Email <span class="text-muted">(Optional)</span></label>
                    <input type="email" class="form-control" id="email" placeholder="you@example.com"
                           formControlName="email">
                </div>

                <div class="mb-3">
                    <label for="address">Address*</label>
                    <input type="text" class="form-control" id="address" placeholder="1234 Main St"
                           formControlName="address">
                </div>

                <div class="mb-3">
                    <label for="country">Country*</label>
                    <select class="custom-select d-block w-100" id="country" formControlName="country">
                        <option [ngValue]="''">Choose...</option>
                        <option *ngFor="let country of countries$ | async" [ngValue]="country">{{ country }}</option>
                    </select>
                </div>
                <hr class="mb-4">

                <button class="btn btn-primary btn-lg btn-block" type="submit">Add Client</button>
            </form>

        </div>
    </div>
</div>
