<div class="container">
  <form [formGroup]="loginForm" class="form-signin" (ngSubmit)="login()">
    <h2 class="form-signin-heading">Please sign in Angular</h2>
    <p>
      <label for="username" class="sr-only">Username</label>
      <input type="text"
             id="username"
             name="username"
             class="form-control"
             placeholder="Username"
             formControlName="username"
             autofocus="">
    </p>
    <p>
      <label for="password" class="sr-only">Password</label>
      <input type="password"
             id="password"
             name="password"
             formControlName="password"
             class="form-control"
             placeholder="Password">
    </p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>
