<app-toast aria-live="polite" aria-atomic="true"></app-toast>
<router-outlet></router-outlet>
<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2020 SRINI</p>
</footer>
